* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Fuente y configuración básica del cuerpo */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #1e1e1e;
}

/* Estilo del encabezado */
.header {
    background-color: #333333; /* Azul oscuro */
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__item {
    height: 50px;
    width: auto; /* Ajusta el tamaño según necesites */
}

.nav__lista {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.lista__item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.lista__item a:hover {
    background-color: #5cb85c; /* Azul intermedio */
}

/* Estilo del contenedor principal */
.ContPrincipal {
    text-align: center;
    padding: 20px;
}

.cabecera__titulo {
    font-family: 'Arial',sans-serif;
    font-size: 24px; /* Tamaño de fuente mayor para mejor visibilidad */
    color: #808080;
    line-height: 1.6;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px 12px 0 0 ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Asegura que el texto tome el ancho completo */
    width: 100%;
    text-align: center;
    opacity: 0; /* Inicialmente desvanecido */
    animation: fadeIn 2s forwards; /* Animación de desvanecimiento */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ContImg .fondo {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

/* Estilo del contenido secundario */
.contenidoSecundario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.contenidoSecundario__card {
    flex: 1 1 calc(33% - 20px);
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #505050;
}

/* Estilo del pie de página */
.pieDePagina {
    background-color: #333333; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pieDePagina__info {
    margin-bottom: 10px;
}

.pieDePagina__info--espace {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.info__Img {
    height: 30px;
    transition: opacity 0.3s;
}

h4,p{
    color: #333;
}
.contBtn{
    width: 30%;
    margin: 10% auto;
    background-color:#333333;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}
.contBtn__btn{
    all: unset;
    display: block;
    background-color: #5cb85c;
    border-radius: 5px;
    margin-top: 20px ;
    padding: 20px;
    cursor: pointer;
}
.tituloOp{
    color: white;
}
